<div class="col-xs-9">
  <h2>クラブ一覧</h2>
  <table class="table table-hover teble-inverse">
    <thead>
      <tr>
        <th></th>
        <th>クラブ名</th>
        <th>ジャンル</th>
        <th>活動場所</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @clubs.each do |club| %>
        <td>
          <%= link_to user_path(club.user_id) do %>
          <%= attachment_image_tag club, :club_image, size:'50x50', format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
        </td>
        <td><%= link_to club.name, club_path(club) %></td>
        <td><%= club.category %></td>
        <td><%= club.place %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>



<div class="row">
  <div class="col-sm-7"></div>
  <%= link_to "クラブ新規登録", new_club_path, class: "btn btn-primary"  %>
</div>