<div class="row">
    <!-- ジャンル検索 -->
  <div class="col-xs-2" >
    <div class="categories">
      <div class="panel panel-color">
        <div class="panel-im"><h4><strong>ジャンル検索</strong></h4></div>
          <div class="panel-body">
            <% @categories.each do |category| %>
            <strong><%= link_to category.name, clubs_path(category_id: category.id) %></strong><br><br>
            <% end %>
          </div>
        </div>
      </div>
<div class="row">
  <div class="col-sm-2"></div>
  <%= link_to "ジャンルの追加", categories_path, class: "btn btn-primary"  %>
</div>
</div>

  <div class="col-xs-9">
    <h2>クラブ一覧</h2>
    <table class="table table-hover teble-inverse">
      <thead>
      <tr>
        <th></th>
        <th>クラブ名</th>
        <th>ジャンル</th>
        <th>活動場所</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <% @clubs.each do |club| %>
          <td>
          <%= link_to club_path(club) do %>
          <%= attachment_image_tag club, :club_image, size:'50x50', format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
        </td>
        <td><%= link_to club.name, club_path(club.id) %></td>
        <td><%= club.category.name %></td>
        <td><%= club.place %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<div class="row">
  <div class="col-xs-9"></div>
  <%= link_to "クラブ新規登録", new_club_path, class: "btn btn-primary"  %>
</div>
</div>


