<div class="col-xs-9">
  <h2>Users search for'<%= @model %>'</h2>
  <table class="table table-hover teble-inverse">
    <thead>
      <tr>
        <th>image</th>
        <th><%= @model %></th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if @model == 'user' %>
          <% @dates.each do |date| %>
            <td><%= date.name %></td>
            <td></td>
            <td><%= link_to "Show", user_path(date) %></td>
          <% end %>
        <% else %>
          <% @dates.each do |date| %>
            <td><%= date.title %></td>
            <td></td>
            <td><%= link_to "Show", post_path(date) %></td>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
