<h1>User info</h1>

<% if @user.errors.any? %>
   <h3><%= @user.errors.count %>errors prohibited this obj from being saved:</h3>
     <ul>
       <% @user.errors.full_messages.each do |message| %>
       <li><%= message %></li>
       <% end %>
     </ul>
<% end %>

<%= form_for(@user) do |f| %>

  <div class="field">
    <lavel for="user_name">名前</lavel>
    <%= f.text_field :name %>
  </div>

    <br>
    <%= f.submit '名前変更する' %>


<% end %>