<!DOCTYPE html>
<html>
  <head>
    <title>SportsMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<div class='fixed-top'>
  <header>
    <div class="navbar navbox navbar-fixed-top">
      <div class="container" >
        <nav class="nav nav-c navbar-left">
          <h3>sports-mate</h3>
        </nav>


      <% if user_signed_in? %>
        <nav>
          <ul class="nav navbar-nav navbar-right">

            <li class=""><%= link_to "sports-mate", root_path,class:"glyphicon glyphicon-home home" %></li>
            <li class=""><%= link_to 'クラブ一覧', clubs_path,class:"glyphicon glyphicon-book books" %></li>
            <li class=""><%= link_to '投稿一覧', posts_path,class:"glyphicon glyphicon-user users" %></li>
            <li class=""><%= link_to 'マイページ', user_path(current_user),class:"glyphicon glyphicon-user users" %></li>
            <li class=""><%= link_to " ログアウト", destroy_user_session_path, method: :delete,class:"glyphicon glyphicon-log-out" %></li>
          </ul>
        </nav>
      <% else %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li class=""><%= link_to "sports-mate", root_path,class:"glyphicon glyphicon-home home" %></li>
            <li class=""><%= link_to "クラブ一覧", clubs_path,class:"glyphicon glyphicon-link about" %></li>
            <li class=""><%= link_to '投稿一覧', posts_path,class:"glyphicon glyphicon-user users" %></li>
            <li class=""><%= link_to "新規登録", new_user_registration_path,class:"glyphicon glyphicon-edit sign_up" %></li>
            <li class=""><%= link_to "ログイン", new_user_session_path,class:"glyphicon glyphicon-log-in sign-in" %></li>
          </ul>
        </nav>
      <% end %>
      </div>
    </div>
  </header>

    <%= yield %>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-3 col-xs-offset-9">
            <p class="footer-text">sports-mate</p>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>
